.loginContainer {
  width: 80%;
  margin: 0 auto;

  &__wrapperRememberMe {
    display: flex;
    gap: 8px;
  }

  &__errorMessagewrapper {
    height: 2.813rem;
    line-height: 45px;
    background-color: #f66060;
    padding: 0 1rem;
    border-radius: 3px;

    b {
      margin-left: 0.625rem;
    }
  }
}
